@import "../index";

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes amogus-sprite {
  to {
    background-position: -6100px -10px;
  }
}

.box {
  width: 100px;
  height: 100px;
  border-radius: 0.25rem;
  background: #36004d;
}

.flex-hover {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;

  div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

}

.growing-box {
  background: $gradient-bottom;
  transition: height 0.6s cubic-bezier(0.68, 0.59, 0.32, 1.28), width 0.6s cubic-bezier(0.68, 0.59, 0.32, 1.28);

  &:hover {
    height: 200px;
    width: 200px;
  }
}

.spinning-box:hover {
  animation: spin 2s infinite linear;
}

.amogus {
  width: 1200px;
  height: 840px;
  background: url('../../../assets/images/amogus.png') -10px -10px;
  transform: scale(0.5);

  &:hover {
    animation: amogus-sprite 200ms steps(5) infinite;
  }
}
