.navbar {
  width: 100%;
  height: 100px;
  padding: 0;
  background: $navbar-background;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.navbar a {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: $default-font-color;
}

.navbar a.router-link-exact-active {
  color: $highlighted-font;
}

a {
  color: $link;

  &:hover {
    color: $link-hover;
  }
}
