@media (max-width: 650px) {
  #github-projects {
    width: 100% !important;
  }

  #github-projects .card {
    width: 80% !important;
  }
}


#github-projects {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto;
  gap: 1.5em;

  transition-group {
    width: 100%;
  }

  .card {
    background: $project-card;
    color: $default-font-color;
    border-radius: 15px;
    width: 45%;
    padding: 1.5rem;
    display: flex;
    text-align: left;
    flex-direction: column;
    overflow-wrap: break-word;
    word-break: break-word;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: $project-card-hover;
      box-shadow: 5px 8px 12px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 5px 8px 12px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 5px 8px 12px 0px rgba(0, 0, 0, 0.75);
      transform: translateY(-5px) translateX(-1px);
    }

    p {
      color: rgba(255, 255, 255, 0.60);
    }

  }
}
