@media (max-width: 600px) {
  #github-projects {
    width: 100% !important;
  }

  #github-projects .card {
    width: 100% !important;
  }
}


#github-projects {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto 0;
  gap: 1.5em;

  transition-group {
    width: 100%;
  }

  .card {
    background: $navbar-background;
    border-radius: 15px;
    width: 45%;
    padding: 1.5rem;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .card a {
    text-decoration: none;
    color: $default-font-color;
  }

  .card p {
    color: rgba(255, 255, 255, 0.60);
  }


}
