
body {
  margin: 0;
  background: $background;
}

.vue-typer .custom.caret {
  background: $default-font-color;
}

.highlighted {
  color: $highlighted-font;
}

#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $default-font-color;
}

.gradient-test {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.gradients {
  background: $gradient-left;
}

.gradient-text {
  background: $gradient-bottom-left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255,0);
}
